<div class="">
	<div class="panel panel-primary ">
		<div class="panel-heading">
			<h3 class="panel-title">{{project.title}}</h3>
		</div>
		<div class="panel-body">
			<h5>{{project.subtitle}}</h5>
			<span>{{project.currency}}</span>
			<span>{{project.description_summary}}...</span>
			<div>
				<!--I've made the default £ as most of the porjects seem to have GBP-->
				<p class="value">
					<span><strong>Raised: {{project.raised | currency : '£' : 2}}</span>
				</p>
				<p class="value">
					<span><strong>Goal: {{project.goal | currency : '£' : 2}}</span>
				</p>
				<p class="value">
					<span><strong>Percentage:</strong> <span ng-if="project.goal > 0">{{project.percentage}}%</span><span ng-if="project.goal <= 0">0%</span></span>
				</p>
				<div class="progress">
					<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="project.raised" aria-valuemin="0" aria-valuemax="project.goal"
					ng-style="{width: project.percentage + '%'}">
						<span class="sr-only">{{project.percentage}} raised</span>
					</div>
				</div>
			</div>
			<div class="project-type">
				<strong>Project Type:</strong>
				<span ng-if="project.funding_type === 'R'">
					Reward
				</span>
				<span ng-if="project.funding_type === 'E'">
					Equity
				</span>
			</div>
			<a class="btn btn-primary" ng-href="{{project.url}}" target="_blank">
				Find out more
			</a>
		</div>
	</div>
</div>